<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookstore</title>
</head>
<body>

<form method="post" action="search">
    {% csrf_token %}
    <input name="Search">
    <button type="submit">Поиск</button>

</form>

{% if query %}
<table border="1">
    <caption>Список авторов</caption>
    <tr>
        <th>ID</th>
        <th>Имя автора</th>
    </tr>
    {% for author in query %}
    <tr>
        <td>{{author.author_id}}</td>
        <td><a href="{% url 'edit author' author.author_id %}">{{author.author_name}}</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Список пуст</p>
{% endif %}
<a href="{% url 'add author' %}">Добавить автора</a>
<a href="{% url 'main page' %}">На главную</a>

</body>
</html>