<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование "Автор"</title>
</head>
<body>
{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}
{% if saved %}
<p>Изменения успешно сохранены</p>
{% endif %}
{% if form %}
<form method="post">
    {% csrf_token %}
        {% for field in form.visible_fields %}
        {{ field.errors }}
        {{ field }}
        {% endfor %}
        <button type="submit">Сохранить</button>
        <button type="submit" name="Delete">Удалить</button>
</form>
{% else %}
<p>Что-то пошло не так</p>
{% endif %}
<a href="{% url 'main page' %}">На главную</a>
</body>
</html>