<form method="post" action='search'>
    {% csrf_token %}
    <input name="Search">
    <button type="submit">Поиск</button>

</form>

{% if authors_query %}
<table border="1">
    <caption>Список авторов</caption>
    <tr>
        <th>ID</th>
        <th>Имя автора</th>
    </tr>
    {% for author in query %}
    <tr>
        <td>{{author.author_id}}</td>
        <td><a href="{% url 'edit author' author.author_id %}">{{author.author_name}}</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Авторы не найдены</p>
{% endif %}
{% if books_query %}
<table border="1">
    <caption>Список книг</caption>
    <tr>
        <th>ID</th>
        <th>Название книги</th>
        <th>Автор</th>
        <th>Количество страниц</th>
    </tr>
    {% for book in query %}
    <tr>
        <td>{{book.book_id}}</td>
        <td><a href="{% url 'edit book' book.book_id %}">{{book.book_title}}</a></td>
        <td><a href="{% url 'edit author' book.author.author_id %}">{{book.author.author_name}}</a></td>
        <td>{{book.pages_count}}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Книги не найдены</p>
{% endif %}
